@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main-base: 3 17 33; // #031121

    --color-primary-base: 69 155 186; // #459bba

    --color-secondary-base: 241 136 36; // #F18824

    --color-tertiary-base: 255 255 255; // #FFFFFF
  }
}